@use '../../../tokens/build/tokens.scss' as *;
@use './Inter.scss' as *;

body {
  font-family: $font-family;
  color: $color-text-background-light;
}

a {
  color: $color-interface-interaction;
  text-decoration: none;
  &:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  &:visited {
    color: $color-interface-visited;
  }
}
