@use '../../tokens/build/tokens.scss' as *;
@use './typography.scss' as *;

@mixin hover {
  background-color: $color-interface-interaction-light;
  color: $color-neutral-grey-800;
  border: $border-width-default solid $color-neutral-grey-800;
  cursor: pointer;
}

@mixin active($bg-color) {
  background-color: $bg-color;
  color: $color-neutral-white;
}

@mixin disabled($bg-color, $text-color, $border-color: transparent) {
  background-color: $bg-color;
  color: $text-color;
  border-color: $border-color;
  cursor: not-allowed;
}

@mixin size($height, $border-radius, $horizontal-padding, $font-size) {
  min-height: $height;
  min-width: $height * 2;
  max-width: $height * 12;
  border-radius: $border-radius;
  padding: 0 $horizontal-padding;
  @include dads-text-interface($font-size);
}

.dads-button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  transition: $duration-normal all;
  overflow: hidden;

  // Size medium
  @include size(
    $spacing-base-10,
    $border-radius-large,
    $spacing-base-6,
    $font-size-400
  );

  // Primary
  background-color: $color-neutral-grey-800;
  color: $color-neutral-white;
  border: $border-width-default solid transparent;

  &:hover {
    @include hover();
  }
  &:active {
    @include active($color-neutral-grey-900);
  }
  &:disabled {
    @include disabled($color-neutral-grey-500, $color-neutral-white);
  }

  // Elements
  & > svg {
    fill: $color-neutral-white;
    box-sizing: border-box;

    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;

    text-align: end;

    height: $spacing-base-6;
    width: $spacing-base-6;
    transition: inherit;
  }
  & > svg.dads-button__icon-left {
    margin-right: $spacing-base-2;
  }
  & > svg.dads-button__icon-right {
    margin-left: $spacing-base-2;
  }
  &:hover > svg {
    fill: $color-neutral-grey-800;
  }
  &:active > svg {
    fill: $color-neutral-white;
  }
  &:disabled > svg {
    fill: $color-neutral-white;
  }

  // Size modifiers
  &--x-small {
    @include size(
      $spacing-base-6,
      $border-radius-large,
      $spacing-base-4,
      $font-size-200
    );
  }
  &--small {
    @include size(
      $spacing-base-8,
      $border-radius-large,
      $spacing-base-4,
      $font-size-300
    );
  }
  &--large {
    @include size(
      $spacing-base-12,
      $border-radius-large,
      $spacing-base-10,
      $font-size-400
    );
  }
  &--x-large {
    @include size(
      $spacing-base-14,
      $border-radius-x-large,
      $spacing-base-10,
      $font-size-400
    );
  }

  // Variant modifiers
  &--secondary {
    background-color: $color-neutral-white;
    color: $color-neutral-grey-800;
    border: $border-width-default solid $color-neutral-grey-800;

    &:active {
      @include active($color-neutral-grey-800);
    }
    &:disabled {
      @include disabled(
        $color-neutral-white,
        $color-neutral-grey-500,
        $color-neutral-grey-500
      );
    }

    & > svg {
      fill: $color-neutral-grey-800;
    }

    &:disabled > svg {
      fill: $color-neutral-grey-500;
    }
  }
}
