@use '../../../node_modules/@digdir/ds-tokens/build/tokens.scss' as *;
@use './typography.scss' as *;

$color-checkbox-default: $color-interface-interaction;
$color-checkbox-disabled: $color-neutral-grey-500;

.dads-checkbox {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  @include dads-text-interface($font-size-300);

  &:focus-within {
    outline: 2px solid $color-brand-third-700;
  }

  &--disabled {
    cursor: not-allowed;
    color: $color-checkbox-disabled;
  }

  & input {
    // Hide browser-default checkbox
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    box-sizing: border-box;
    content: '';
    border: $border-width-default solid $color-checkbox-default;

    // Medium size properties
    width: $spacing-base-6;
    height: $spacing-base-6;
    margin-right: $spacing-base-2;

    // Checkmark format
    background-size: $spacing-base-3 $spacing-base-3;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  & input:disabled + &__checkmark {
    border-color: $color-checkbox-disabled;
  }
  & input:checked:not(:disabled) + &__checkmark {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMyIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE3IDEzIj4KICA8cGF0aCBzdHJva2U9IiMwMDUxQkUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTUuMjczIDEuNjY3bC05LjMzNCA5LjY5Ny00LjI0Mi00LjQwOCIvPgo8L3N2Zz4K');
  }
  & input:checked:disabled + &__checkmark {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMyIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE3IDEzIj4KICA8cGF0aCBzdHJva2U9IiNBNUFBQjEiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTUuMjczIDEuNjY3bC05LjMzNCA5LjY5Ny00LjI0Mi00LjQwOCIvPgo8L3N2Zz4K');
  }
  & input:hover:not(:disabled):not(:checked) + &__checkmark {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNyIgaGVpZ2h0PSIxMyIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE3IDEzIj4KICA8cGF0aCBzdHJva2U9IiNCQUNGRUQiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIyIiBkPSJNMTUuMjczIDEuNjY3bC05LjMzNCA5LjY5Ny00LjI0Mi00LjQwOCIvPgo8L3N2Zz4K');
  }

  // Size modifiers
  &--large {
    @include dads-text-interface($font-size-400);

    & > .dads-checkbox__checkmark {
      width: $spacing-base-8;
      height: $spacing-base-8;
      margin-right: $spacing-base-4;
      background-size: $spacing-base-5 $spacing-base-5;
    }
  }
}
