@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use './typography.scss' as *;
@use './baseline/utils.scss' as utils;

$classname: '#{utils.$prefix}-icon-link';
// Color variables
$link-color-default: $color-interface-interaction;
$link-color-border-default: $color-neutral-grey-400;
// Size variables
$link-size-medium: $spacing-base-4;
$link-size-large: $spacing-base-6;
$link-icon-size-medium: $spacing-base-4;
$link-icon-size-large: $spacing-base-6;
$link-padding-label-medium: $spacing-base-1;
$link-padding-label-large: $spacing-base-2;
$link-margin-icon-medium: ($link-icon-size-medium + $link-padding-label-medium);
$link-margin-icon-large: ($link-icon-size-large + $link-padding-label-large);

.#{$classname} {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow-wrap: anywhere;
  box-sizing: border-box;

  @include text-interface-300();
  color: $color-text-background-light;

  border-bottom: $border-width-thin solid $color-neutral-grey-400;

  transition: all $duration-normal;
  transition-property: border-color;

  // Elements
  & > svg {
    display: inline-block;
    position: absolute;
    box-sizing: content-box;

    width: $link-icon-size-medium;
    height: $link-icon-size-medium;
    padding-top: $border-width-default;

    flex-shrink: 0;
    flex-grow: 0;
  }

  &:hover {
    border-color: $color-interface-interaction;
    border-width: $border-width-default;
  }

  &:visited {
    color: $color-interface-visited;

    &:hover {
      border-color: $color-interface-visited;
    }
  }

  &:visited > svg {
    fill: $color-interface-visited;
  }

  &--shortcut {
    color: $link-color-default;
    border-color: transparent;
    border-width: $border-width-default;

    & > svg {
      fill: $link-color-default;
    }
  }

  // Size modifiers
  &--large {
    @include text-interface-400();

    & > svg {
      width: $link-icon-size-large;
      height: $link-icon-size-large;
      padding-top: 0;
    }
  }

  /* 
    ---------------------------------------------------
      Focus outline mixins

      Padding/margin, and icon placement adjustment
      to fit icon in focus outline
    --------------------------------------------------- 
  */
  @mixin icon-left-outline-padding($padding) {
    padding-left: $padding;
    margin-left: 0;
    & > svg {
      left: 0;
    }
  }
  @mixin icon-left-outline-reset($margin, $size-icon, $size-label) {
    margin-left: $margin;
    padding-left: 0;
    & > svg {
      left: -($size-icon + $size-label);
    }
    outline: none;
  }
  @mixin icon-left-outline($margin, $size-icon, $size-label) {
    &:focus-visible {
      @include icon-left-outline-padding($margin);
    }
    &:focus {
      @include icon-left-outline-padding($margin);
    }
    &:focus:not(:focus-visible) {
      @include icon-left-outline-reset($margin, $size-icon, $size-label);
    }
  }
  @mixin icon-right-outline-padding($padding) {
    padding-right: $padding;
    margin-right: 0;
  }
  @mixin icon-right-outline-reset($margin) {
    margin-right: $margin;
    padding-right: 0;
    outline: none;
  }
  @mixin icon-right-outline($margin) {
    // Fit icon in focus outline
    &:focus-visible {
      @include icon-right-outline-padding($margin);
    }
    // Compatibility for browsers not supporting :focus-visible (Safari, IE)
    &:focus {
      @include icon-right-outline-padding($margin);
    }
    &:focus:not(:focus-visible) {
      @include icon-right-outline-reset($margin);
    }
  }

  // ---------------------------------

  &--icon-left {
    // Make room for icon
    margin-left: $link-margin-icon-medium;
    & > svg {
      left: -($link-icon-size-medium + $link-padding-label-medium);
      // Remove "hover gap" between icon and text
      padding-right: $link-padding-label-medium;
    }
    @include icon-left-outline(
      $link-margin-icon-medium,
      $link-icon-size-medium,
      $link-padding-label-medium
    );

    &.#{$classname}--large {
      margin-left: $link-margin-icon-large;
      & > svg {
        left: -($link-icon-size-large + $link-padding-label-large);
        padding-right: $link-padding-label-large;
      }
      @include icon-left-outline(
        $link-margin-icon-large,
        $link-icon-size-large,
        $link-padding-label-large
      );
    }
  }

  &--icon-right {
    margin-right: $link-margin-icon-medium;
    & > svg {
      padding-left: $link-padding-label-medium;
    }
    @include icon-right-outline($link-margin-icon-medium);

    &.#{$classname}--large {
      margin-right: $link-margin-icon-large;
      & > svg {
        padding-left: $link-padding-label-large;
      }
      @include icon-right-outline($link-margin-icon-large);
    }
  }
}
