@use '@digdir/ds-tokens/build/tokens.scss' as *;
@use './typography.scss' as *;
@use './baseline/utils.scss' as utils;

// Color variables
$link-color-default: $color-interface-interaction;
$link-color-border-default: $color-neutral-grey-400;
// Size variables
$link-size-medium: $spacing-base-4;
$link-size-large: $spacing-base-6;
$link-icon-size-medium: $spacing-base-4;
$link-icon-size-large: $spacing-base-6;
$link-margin-label-medium: $spacing-base-1;
$link-margin-label-large: $spacing-base-2;

.#{utils.$prefix}-icon-link {
  cursor: pointer;
  position: relative;
  text-decoration: none;

  @include font-interface($font-size-300);
  color: $color-text-background-light;

  border-bottom: $border-width-thin solid $color-neutral-grey-400;

  transition: all $duration-normal;
  transition-property: border-color, padding-bottom;

  margin-right: ($link-icon-size-medium + $link-margin-label-medium);

  // Elements
  & > &__icon {
    display: inline-block;
    position: absolute;

    width: $link-icon-size-medium;
    height: $link-icon-size-medium;
    margin-left: $link-margin-label-medium;
    margin-top: $border-width-default;

    flex-shrink: 0;
    flex-grow: 0;
  }

  // States
  &:hover {
    border-color: $color-interface-interaction;
    border-width: $border-width-default;
  }

  &:visited {
    color: $color-interface-visited;

    &:hover {
      border-color: $color-interface-visited;
    }
  }

  &:visited > &__icon {
    fill: $color-interface-visited;
  }

  // Size modifiers
  &--large {
    @include font-interface($font-size-400);
    margin-right: ($link-icon-size-large + $link-margin-label-large);
  }
  &--large > &__icon {
    width: $link-icon-size-large;
    height: $link-icon-size-large;
    margin-left: $link-margin-label-large;
    margin-top: 0;
  }
}
