@use '../../../node_modules/@digdir/ds-tokens/build/tokens.scss' as *;
@use './typography.scss' as *;
@use './baseline/utils.scss' as utils;
@use './form.scss' as form;

$classname: '#{utils.$prefix}-input-field';
// Color variables
$input-color-default-grey: $color-neutral-grey-600;
$input-color-default-active-grey: $color-neutral-grey-800;
$input-color-disabled-grey: $color-neutral-grey-500;
$input-color-error-grey: $color-neutral-grey-700;
// Size variables
$input-size-height-medium: $spacing-base-8;
$input-size-height-large: $spacing-base-14;
$input-size-width: calc($spacing-base-8 * 10);
$input-icon-size-medium: $spacing-base-5;
$input-icon-size-large: $spacing-base-8;
// Padding sizes
$input-icon-padding-medium: calc(
  ($input-size-height-medium - $input-icon-size-medium) / 2
);
$input-icon-padding-large: calc(
  ($input-size-height-large - $input-icon-size-large) / 2
);
$input-placeholder-padding-horizontal: $spacing-base-4;
$input-placeholder-padding-horizontal-icon-medium: calc(
  $input-placeholder-padding-horizontal + $input-icon-size-medium +
    $input-icon-padding-medium
);
$input-placeholder-padding-horizontal-icon-large: calc(
  $input-placeholder-padding-horizontal + $input-icon-size-large +
    $input-icon-padding-large
);

.#{$classname} {
  position: relative;
  display: flex;
  align-items: center;

  // Elements
  &__input {
    // Size medium
    min-width: $input-size-width;
    min-height: $input-size-height-medium;
    @include text-body-300();

    background-color: $color-neutral-white;
    color: $color-text-background-light;
    padding: 0 $input-placeholder-padding-horizontal;

    box-sizing: border-box;
    border-radius: $border-radius-x-small;
    border: $border-width-thin solid $input-color-default-grey;

    transition: all $duration-normal;
    transition-property: border, box-shadow;

    &::placeholder {
      color: $input-color-default-grey;
    }

    &:focus {
      outline: none;
      border-color: $color-interface-interaction;
      box-shadow: inset 0 0 0 $border-width-thin $color-interface-interaction;
      &::placeholder {
        color: $input-color-default-active-grey;
      }
    }
    // Breakpoints
    @media (max-width: $breakpoint-medium) {
      min-width: min(90vw, $input-size-width);
    }
  }

  & ~ .#{form.$field-label-classname} {
    cursor: text;
  }

  &__icon-left,
  &__icon-right {
    pointer-events: none;
    position: absolute;
    fill: $input-color-default-grey;

    // Size medium
    width: $input-icon-size-medium;
    height: $input-icon-size-medium;

    flex-shrink: 0;
    flex-grow: 0;
  }
  &__icon-left {
    left: $input-icon-padding-medium;
  }
  &__icon-right {
    right: $input-icon-padding-medium;
  }

  // Set extra padding when icon is used
  &--icon-left > &__input {
    padding-left: $input-placeholder-padding-horizontal-icon-medium;
  }
  &--error &__input,
  &--icon-right > &__input {
    padding-right: $input-placeholder-padding-horizontal-icon-medium;
  }

  // State modifiers
  &:not([class*='#{$classname}--disabled']) > input.#{$classname}__input {
    &:hover {
      cursor: text;
    }
    &:hover:not(:focus) {
      border-color: $color-interface-interaction;
      &::placeholder {
        color: $input-color-default-active-grey;
      }
      & ~ .#{$classname}__icon-left,
      & ~ .#{$classname}__icon-right {
        fill: $input-color-default-active-grey;
      }
    }
    &:focus {
      & ~ .#{$classname}__icon-left,
      & ~ .#{$classname}__icon-right {
        fill: $input-color-default-active-grey;
      }
    }
  }

  &--disabled {
    & .#{$classname}__icon-left,
    & .#{$classname}__icon-right {
      fill: $input-color-disabled-grey;
    }
    & ~ .#{form.$field-label-classname} {
      color: $input-color-disabled-grey;
      cursor: not-allowed;
    }
    & > input.#{$classname}__input {
      cursor: not-allowed;
      color: $input-color-disabled-grey;
      &:not(:focus) {
        border-color: $input-color-disabled-grey;
      }
      &::placeholder {
        color: $input-color-disabled-grey;
      }
    }
  }

  &--error {
    &:not([class*='#{$classname}--disabled'])
      .#{$classname}__input:not(:hover):not(:focus) {
      border-color: $color-interface-error;
      box-shadow: inset 0 0 0 $border-width-thin $color-interface-error;
    }
    & .#{$classname}__icon-left {
      fill: $input-color-error-grey;
    }
    & .#{$classname}__input::placeholder {
      color: $input-color-error-grey;
    }
    // Error icon
    &::after {
      pointer-events: none;
      position: absolute;
      content: '';
      background-color: $color-neutral-white;
      background-image: utils.$icon-url-error;
      background-repeat: no-repeat;

      background-size: $input-icon-size-medium, $input-icon-size-medium;
      width: $input-icon-size-medium;
      height: $input-icon-size-medium;

      right: $input-icon-padding-medium;
    }
  }

  // Size modifiers
  &--large {
    & ~ .#{form.$field-label-classname},
    & ~ .#{form.$field-error-message-classname} {
      @include text-body-300();
    }
    & .#{$classname}__input {
      min-height: $input-size-height-large;
      @include text-body-400();
    }
    // Set icon size
    &::after,
    & .#{$classname}__icon-left,
    & .#{$classname}__icon-right {
      width: $input-icon-size-large;
      height: $input-icon-size-large;
    }
    &::after {
      background-size: $input-icon-size-large, $input-icon-size-large;
    }
    // Set icon padding
    & .#{$classname}__icon-left {
      left: $input-icon-padding-large;
    }
    &::after,
    & .#{$classname}__icon-right {
      right: $input-icon-padding-large;
    }
    // Set input field padding to large icon
    &.#{$classname}--icon-left .#{$classname}__input {
      padding-left: $input-placeholder-padding-horizontal-icon-large;
    }
    &.#{$classname}--error .#{$classname}__input,
    &.#{$classname}--icon-right .#{$classname}__input {
      padding-right: $input-placeholder-padding-horizontal-icon-large;
    }
  }
}
