@use '../../../node_modules/@digdir/ds-tokens/build/tokens.scss' as *;

.dads-topbar {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  right: 0;
  left: 300px;
  height: 60px;
  display: grid;
  place-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: $z-index-height-10;
}
